<% posts.each do |post| %>
  <div class="post clickable" data-link="<%= post_path(slug: post.slug) %>">
    <h5> <%= post.title %> </h5>
    <h6> <%= format_date post.created_at %> </h6>
    <p> <%= markdown format_post_body(post.body) %> </p>
  </div>
<% end %>
