<div class="container">
  <div class="row">

    <div class="col s12" id="content"></div>

    <div class="col s12 m6" id="robbie">
      <h4 class="header-font">Robbie Lane</h4>
      <%= image_tag('robbie-1_lowrez.jpg') %>
    </div>

    <div class="col s12 m6" id="recent-activity">
      <h4 class="header-font">Recent Activity</h4>
      <div class="posts"></div>
    </div>

  </div>
</div>
