<div class="post-form">
  <div class="row">
    <div class="col m12">
      <%= form_for @post, url: post_path(slug: @post.slug) do |f| %>
      <%= f.text_field :title, placeholder: "Title" %>
    </div>
  </div>
  <div class="row">
    <div class="col m6 markdown">
      <h4>Markdown</h4>
      <%= f.text_area :body, id: 'editor' %>
    </div>
    <div class="col m6 previewer">
      <h4>Preview</h4>
      <div id="preview"></div>
    </div>
  </div>

  <%= f.button "+", class: 'btn-floating top right btn-large waves-effect waves-light red' %>
  <% end %>
</div>
