<div class="container">
  <% @posts.each do |post| %>
    <div class="post">
      <h4> <%= post.title %> </h4>
      <p> <%= markdown format_post_body(post.body) %> </p>
    </div>
  <% end %>
</div>
